spring:
  application:
    name: ToDoAppYigit

  datasource:
    url: jdbc:postgresql://localhost:5432/todo_db
    username: postgres
    password: yigit123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
